/tizenWorkspace/.metadata/.log
**/.metadata/*
/tizenWorkspace/.metadata/*
tizenWorkspace/.metadata/
/tizenWorkspace/metadata/
/tizenWorkspace/chromacandle/images/.DS_Store
/.DS_Store
tizenWorkspace/.metadata/


