* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 50px auto;
    color:white;
    background-color:black;
    width:1920px;
    height:1080px;
    
}

.palette { 
    display:none;
    
}

.dialogButton { 
    /*height:20px;*/
    width:300px;
    text-align:center;
    border-radius: 20px;
    border: 2px solid white;
    font-size:40pt;    
}

.selectedButton {
    background-color:#808080;
}

.bridge {
    display: grid;
    grid-template-columns: 200px 300px 100px;
    grid-template-rows: 32px 32px 32px 32px;
}

.bridgeButton {
    padding:20px;
}


.bridgePromptImage {
    content: url(../images/hueIcons/devicesBridgesV2_white.svg);
    width: 256px;
    height: 256px;
    background-color: white;
}


.bridgeImage {
    grid-row: 1;
    grid-column: 1;
    width:128px;
    height:128px;
    background-color: white;
    content:url(../images/hueIcons/devicesBridgesV2_white.svg)
}

.bridgeId {
    grid-row:3;
    grid-column:2;
}

.bridgeAddress { 
    font-size:20pt;
    grid-row:2;
    grid-column:2;
}

.bridgeSelected {
    background-color: red;
}

.bridgeSelected .bridgeConnectButton {
    display:block;
}

.bridgeConnectButton {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color:black;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display:none;
}


#rootVisual > div { 
    position:abolute;
    top:0px;
    left:0px;
    display: none;
    opacity: 0;
    transition:opacity 3s;
}


#rootVisual.splashScreen > #splashScreen {
    display:block;
    opacity: 1;
}

#rootVisual.selectBridge > #bridgeSelection {
    display:block;
    opacity: 1;
}

#rootVisual.pairBridge > #pairBridge {
    display:block;
    opacity:1;
}

.connectCountdown {
    font-size:20pt;
}
.rainboxText {
    color: transparent;
    background-image: url(../images/flame.jpg);
    background-repeat: repeat-x;
    background-clip: text;
    -webkit-background-clip: text;
    animation: text-animation 10s linear infinite;
}

.splash { 
	opacity:0;
	background-image:url('../images/splashScreen.jpg');
	height:1080px;
	width:1920px;
	transition: opacity 3s;
}

header h1 {
    font-size: 108px;
    margin: 0px;
}

header h2 {
    font-size: 54px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 20px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 48px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 60px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 48px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 36px;
    color: #888;
    margin-top: 30px;
}


@keyframes text-animation {
    0% {
        background-position: left 0px top -300px;        
    }
    100% { 
        background-position: left 1920px top -250px;
    }
}

